{% extends 'base.html.twig' %}

{% block title %}{{conference.city}} {{conference.year}}{% endblock %}

{% block body %}
{% if comments|length > 0 %}
    

<h2>There are {{ comments|length }} comments for {{conference.city}} {{conference.year}}</h2>
<ul>

{# BOUCLE DES COMMENTAIRES #}
{% for comment in comments %}
    <li>
    <fieldset>
    <legend>{{comment.author}}</legend>
    {% if comment.photoFilename %}
        <img style="height: 200px;" src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
        {# <h1>Il y a une photo</h1> #}
    {% endif %}
    <h4>{{comment.text}}</h4>


    {# Sans extension #}
    {# <small>Comment posted at {{comment.createdAt | date('d-m-Y')}}</small> --->#}
    
    {# AVEC composer require twig/intl-extra #}
    <small>{{ comment.createdAt|format_datetime('medium', 'short') }}</small>
    </fieldset>
    </li>
{% endfor %}
</ul>



{# CHANGEMENT PAGE DE COMMENTAIRE #}
{% if previous >= 0 %}
    <a href="{{ path('conference', {slug: conference.slug, offset: previous}) }}">Previous</a>    
{% endif %}
{% if next < comments|length %}
    <a href="{{ path('conference', {slug: conference.slug, offset: next}) }}">Next</a>    
{% endif %}
{% else %}
<div>No comments had been posted yet for this conference</div>
{% endif %}


<h2>Add a feedback</h2>
{{ form(comment_form) }}
{% endblock %}
