{% extends 'base.html.twig' %}

{% block title %}{{conference.city}} {{conference.year}}{% endblock %}

{% block body %}
<h2>Comments for {{conference.city}} {{conference.year}}</h2>
<ul>
{% for comment in comments %}
    <li>
    <fieldset>
    <legend>{{comment.author}}</legend>
    <h3>{{comment.text}}</h3>
    <p>Comment posted at {{comment.createdAt | date('d-m-Y')}}</p>
    </fieldset>
    </li>
{% endfor %}
</ul>
{% endblock %}
